RewriteEngine on

RewriteCond %{HTTP_HOST} ^cafelezzet[NC]
RewriteRule ^(.*)$ http://cafelezzet/$1 [L,R=301,NC]

ErrorDocument 404 404.php
ErrorDocument 403 404.php

RewriteRule ^cafelezzet$ index.php [NC,L]
RewriteRule ^hakkimizda$ hakkimizda.php [NC,L]
RewriteRule ^urunler$ urunler.php [NC,L]
RewriteRule ^bize-ulasin$ iletisim.php [NC,L]
RewriteRule ^catering$ catering.php [NC,L]
RewriteRule ^sitemap.xml$ iletisim.php [NC,L]
RewriteRule ^haberler$ medya.php [NC,L]
RewriteRule ^cafelezzet$ index.php [NC,L]

# css, js, resim dosylarını korumak için, sunucuya yukleyince websitesi adresi yazılır 2. satırdaki localhost yerine
#RewriteCond %{HTTP_REFERER} !^$
#RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?localhost/cafeLezzet [NC]
#RewriteRule \.(css|js|jpg|gif)$ - [NC,F,L]

RewriteRule ^urun-([0-9a-zA-Z-_]+)-([0-9]+)$  urun.php?sef=$1&productId=$2 [L,QSA]
RewriteRule ^haber-([0-9a-zA-Z-_]+)-([0-9]+)$  medya.php?sef=$1&haberId=$2 [L,QSA]
RewriteRule ^medya-([0-9a-zA-Z-_]+)-([0-9]+)$  medya.php?sef=$1&medyaId=$2 [L,QSA]
RewriteRule ^Ara-([0-9a-zA-Z-_]+)-([0-9]+)$  search.php?sef=$1&productId=$2 [L,QSA]

<Files /404.php>
AuthType none
</Files>

#istediğimiz klasöre erişim engeli
#ErrorDocument 403 / http://localhost/myboxcont/404.php

# güvenlik için 
#SSLOptions +StrictRequire
#SSLRequireSSL
#SSLRequire %{HTTP_HOST} eq "www.testsitesi.xyz"


#Video yüklemek için boyut belirledik
<IfModule mod_php5.c>
php_value upload_max_filesize 128M
php_value post_max_size 128M
</IfModule>